body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAppBar-root.MuiAppBar-colorPrimary {
  background: #202122;
}
.MuiTypography-h6 img {
  position: relative;
}

ul {
  margin-block: 0;
  margin-inline: 0;
  width: 278px;
  padding-inline: 0;
}

main {
  float: right;
    position: fixed;
    top: 69px;
    left: 288px;
}


.MuiFab-root,d {
  border-radius: 16px !important;
  background: black !important;
  height: 56px !important;
}

.css-wf16b5, .css-y28f86 {
  top: 64px !important;
}
.css-wf16b5 {
  background: #202122 !important;
  color: white !important;
}

svg {
  fill: white !important;
}

.MuiListItemIcon-root svg {
	fill: none !important;
	stroke: white;
}

* {
  font-family: YouTube Sans !important;
}

hr {
  width: 89% !important;
  background: white;
  left: 5%;
  position: relative;
}

.css-yb0lig {
  font-weight: 600 !important;
}
.css-mbfek {
  color: #ffffff87 !important;
}


.css-919eu4 {
  display: none !important;
}

svg {
  fill: white !important;
}
